
@model Erenbook.Models.Arizalar

@{
    ViewBag.Title = "ekle";
    Layout = "~/Views/Shared/_erenbook.cshtml";
}

<style>
    select {
        text-align-last: center;
        padding-right: 29px;
    }

    option {
        text-align: center;
    }

    input[type="date" i] {
        align-items: center;
        font-family: monospace;
        padding-inline-start: 1px;
        cursor: default;
        overflow: hidden;
        padding: 0px;
    }
</style>

<br />
<h2>Arıza Kaydı Güncelle</h2>

<div id="printableArea">
    <div class="panel-body">




        <br />

        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">



                    @using (Html.BeginForm("Duzelt", "Arizalar", FormMethod.Post))
                    {
                        <br />
                        <table border="1">

                            <tr>


                                <td height="35" colspan="2" align=center valign=middle><b>Makine Kodu Ve Adı</b></td>

                                <td height="35" colspan="2" align=center valign=middle>
                                    @Html.DropDownListFor(
                                  x => x.MakineKodu,

                                       new SelectList(new List<Object>

                                  {
                                  new { value = 0 , text = "Seçiniz"},
                                 



                                  new { value = 197 , text = "#"}
                                  }, "text", "text"), new { @class = "form-control" })

                                </td>
                                <td height="35" colspan="2" align=center valign=middle><b>Arıza Bildiren Kişi</b></td>
                                <td height="35" colspan="2" align="center" valign=middle>  @Html.TextBoxFor(x => x.ArizaBildiren, new { @class = "form-control" })</td>

                            </tr>







                            <tr>
                                <td height="25" colspan="1" align=center valign=middle> <b>Arıza Başlangıç Tarihi</b></td>
                                <td height="25" colspan="1" align=center valign=middle> @Html.EditorFor(x => x.BaslangicTarihi, new { @class = "form-control" })</td>
                                <td height="25" colspan="1" align=center valign=middle> <b>Arıza Başlangıç Saati</b></td>
                                <td height="25" colspan="1" align="center" valign=middle>  @Html.TextBoxFor(x => x.Ilk1, new { @class = "form-control" })</td>
                                <td height="25" colspan="1" align=center valign=middle> <b>Arıza Müdahale Tarihi</b></td>
                                <td height="25" colspan="1" align=center valign=middle> @Html.EditorFor(x => x.ArizaMudahaleTarihi, new { @class = "form-control" })</td>

                                <td height="25" colspan="1" align=center valign=middle> <b>Bakımcının Geldiği Saat</b></td>
                                <td height="25" colspan="1" align="center" valign=middle>  @Html.TextBoxFor(x => x.MudahaleSaati, new { @class = "form-control" })</td>

                            </tr>


                            <tr>
                                <td height="35" colspan="2" align=center valign=middle><b>Arıza Açıklaması</b></td>
                                <td height="35" colspan="2" align="center" valign=middle>  @Html.TextAreaFor(x => x.ArizaAciklama, new { @class = "form-control" })</td>
                                <td height="35" colspan="2" align=center valign=middle><b>Arıza Nedeni</b></td>
                                <td height="35" colspan="2" align="center" valign=middle>  @Html.TextAreaFor(x => x.ArizaNedeni, new { @class = "form-control" })</td>
                            </tr>


                            <tr>
                                <td height="35" colspan="2" align=center valign=middle><b>Müdahale Faaliyeti</b></td>
                                <td height="35" colspan="1" align=center valign=middle>
                                    @Html.DropDownListFor(
                                  x => x.YapilanMudahale,

                                       new MultiSelectList(new List<Object>

                                  {
                                  new { value = 0 , text = "Seçiniz"},
                                  new { value = 1 , text = "Tamir"  },
                                  new { value = 2 , text = "Tadilat"},
                                   new { value = 3 , text = "Kaynak"  }

                                  }, "text", "text"), new { @class = "form-control" })

                                </td>
                                <td height="35" colspan="2" align=center valign=middle><b>Müdahale Açıklaması</b></td>
                                <td height="35" colspan="3" align=center valign=middle>
                                    @Html.DropDownListFor(
                                  x => x.MudahaleAciklama,

                                       new MultiSelectList(new List<Object>

                                  {
                                  new { value = 0 , text = "Seçiniz"},
                                
                                   new { value = 16 , text = "#"  }

                                  }, "text", "text"), new { @class = "form-control" })

                                </td>

                            </tr>
                            <tr>
                                <td height="25" colspan="2" align=center valign=middle><b>Kullanılan Malzeme</b></td>
                                <td height="25" colspan="2" align="center" valign=middle>  @Html.TextBoxFor(x => x.KullanilanMalzeme, new { @class = "form-control" })</td>
                                <td height="25" colspan="2" align=center valign=middle><b>Malzeme Bekleme Süresi</b></td>
                                <td height="25" colspan="2" align="center" valign=middle>  @Html.TextBoxFor(x => x.Malbeklemesuresi, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td height="35" colspan="2" align=center valign=middle> <b>Arıza Bitiş Tarihi</b></td>
                                <td height="35" colspan="2" align=center valign=middle> @Html.EditorFor(x => x.BitisTarihi, new { @class = "form-control" })</td>
                                <td height="35" colspan="2" align=center valign=middle> <b>Arıza Bitiş Saati</b></td>
                                <td height="35" colspan="2" align="center" valign=middle>  @Html.TextBoxFor(x => x.Son1, new { @class = "form-control" })</td>
                            </tr>



                            <tr>
                                <td height="35" colspan="8" align=center valign=middle><b>Görevli</b></td>

                            </tr>

                            <tr>
                                <td height="35" colspan="8" align=center valign=middle>
                                    @Html.DropDownListFor(
                                  x => x.BakimYapan,

                                       new MultiSelectList(new List<Object>

                                  {
                                  new { value = 0 , text = "Seçiniz"},
                                  
                                  new { value = 10 , text = "#"}

                                  }, "text", "text"), new { @class = "form-control" })

                                </td>
                            </tr>



                        </table>

                        <br />
                        <button class="btn btn-success">Kaydet</button>

                    }











                </div>
            </div>
        </div>
    </div>



</div>





<br />
<br />
<br />
<br />

<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>